@layer globals, components, utilities;

@layer globals {
  /* inter-200 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Inter";
    font-style: normal;
    font-weight: 200;
    src: url("./assets/Fonts/inter-v20-latin-200.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* inter-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/Fonts/inter-v20-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* inter-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    src: url("./assets/Fonts/inter-v20-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* inter-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    src: url("./assets/Fonts/inter-v20-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* inter-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("./assets/Fonts/inter-v20-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-800 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Inter";
    font-style: normal;
    font-weight: 800;
    src: url("./assets/Fonts/inter-v20-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* Fonts */
  :root {
    --fs-14: calc(14 / 16 * 1rem);
    --fs-16: calc(16 / 16 * 1rem);
    --fs-20: calc(20 / 16 * 1rem);
    --fs-28: calc(28 / 16 * 1rem);
    --fs-36: calc(36 / 16 * 1rem);
    --fs-48: calc(48 / 16 * 1rem);
    --fs-64: calc(64 / 16 * 1rem);

    --font-size-topnav-links: var(--fs-14);
    --font-size-topnav-button: var(--fs-14);
    --font-size-h1: var(--fs-64);
    --font-size-h2: var(--fs-36);
    --font-size-h3: var(--fs-28);
    --font-size-h4: var(--fs-20);

    @media (width >= calc(800 / 16 * 1rem)) {
      --font-size-topnav-links: var(--fs-16);
    }
  }

  /* Colors */
  :root {
    --c-white: hsl(0, 0%, 100%);
    --c-white-20: hsl(0, 0%, 100%, 20%);
    --c-green: hsl(122, 39%, 49%);
    --c-blusish-cyan: hsl(200, 19%, 18%);
    --c-dark-gray: hsl(231, 13%, 11%);
    --c-neutral-silver: hsl(216, 33%, 97%);
    --c-gravel: hsl(0, 0%, 30%);
    --c-neutral-gray: hsl(0, 0%, 44%);
    --c-light-gray: hsl(225, 12%, 87%);
    --c-light-blue-20: hsl(210, 29%, 75%, 20%);
    --c-light-blue-40: hsl(210, 29%, 75%, 40%);
    --c-purple: hsl(259, 81%, 47%);
    --c-neutral-black: hsl(200, 19%, 18%);

    --color-main-bg: var(--c-white);
    --color-text-dark: var(--c-dark-gray);
    --color-text-dark-gray: var(--c-gravel);
    --color-text-neutral-gray: var(--c-neutral-gray);
    --color-text-light-gray: var(--c-light-gray);
    --color-header-bg: var(--c-neutral-silver);
    --color-topnav-links: var(--c-dark-gray);
    --color-topnav-login: var(--c-green);
    --color-hero-bg: var(--c-neutral-silver);
    --color-title-highlight: var(--c-green);
    --color-title-content: var(--c-neutral-gray);
    --color-button-bg: var(--c-green);
    --color-button-text: var(--c-white);
    --color-item-shadow: var(--c-light-blue-20);
    --color-feature-2-bg: var(--c-neutral-silver);
    --color-testimonial-bg: var(--c-neutral-silver);
    --color-testimonial-logo: var(--c-purple);
    --color-blog-item-shadow: var(--c-light-blue-40);
    --color-cta-text: var(--c-neutral-black);
    --color-footer-bg: var(--c-blusish-cyan);
    --color-footer-text: var(--c-neutral-silver);
    --color-input-placeholder: var(--c-light-gray);
    --color-input-bg: var(--c-white-20);
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    color: var(--color-text-dark-gray);
    line-height: 1.3;
  }

  h1,
  h2,
  h3 {
    line-height: 1.1;
  }

  h1 {
    font-size: var(--font-size-h1);
  }

  h2 {
    font-size: var(--font-size-h2);
    font-weight: 600;

    &.large {
      font-size: var(--fs-48);
      font-weight: 700;
    }
  }

  h3 {
    font-size: var(--font-size-h3);
  }

  h4 {
    font-size: var(--font-size-h4);
    font-weight: 600;
  }

  p {
    font-size: var(--fs-16);
    color: var(--color-text-neutral-gray);

    &.small {
      font-size: var(--fs-14);
    }

    &.large {
      font-size: var(--fs-20);
    }
  }

  .wrapper {
    width: min(calc(100% - 40px), calc(1200 / 16 * 1rem));
    margin-inline: auto;
  }

  a {
    text-decoration: none;
  }

  img,
  picture,
  svg {
    max-width: 100%;
    display: block;
    height: auto;
  }

  input::placeholder {
    color: var(--c-white);
    font-size: var(--fs-14);
    font-weight: 200;
  }

  header ul,
  footer ul {
    list-style-type: none;
    padding: 0;
  }

  .text__highlight {
    color: var(--color-title-highlight);
  }
}

@layer components {
  .button {
    display: inline-block;
    background-color: var(--color-button-bg);
    color: var(--color-button-text);
    padding: 14px 32px;
    border-radius: 4px;
    border: none;

    &.sign__up {
      border-radius: 6px;
    }
  }

  .vector__arrow {
    display: inline-block;
    margin-left: 8px;
  }

  .topnav {
    background-color: var(--color-header-bg);

    .topnav__wrapper {
      padding-block: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .topnav__homelink {
    }

    .topnav__logo {
      width: calc(90 / 16 * 1rem);

      @media (width >= calc(800 / 16 * 1rem)) {
        width: calc(155 / 16 * 1rem);
      }
    }

    .topnav__links {
      display: flex;
      gap: 50px;
    }

    .topnav__item {
    }

    .topnav__link {
      font-size: var(--font-size-topnav-links);
      color: var(--color-topnav-links);
    }

    .topnav__buttons {
      display: flex;
      gap: 34px;
      align-items: center;
    }

    .topnav__login {
      color: var(--color-topnav-login);
    }
  }

  .hero {
    background-color: var(--color-hero-bg);

    .hero__wrapper {
      display: grid;
      padding: 96px 32px;

      grid-template-columns: 6fr 4fr;
      column-gap: 36px;
    }

    .hero__image {
      order: 2;
      justify-self: right;
    }

    .hero__text {
      padding-top: 48px;
    }

    .hero__title {
      margin-block-end: 16px;
    }

    .hero__content {
      margin-block-end: 32px;
      color: var(--color-title-content);
    }
  }

  .client {
    .client__wrapper {
      padding-block: 40px;
      text-align: center;
    }

    .client__title {
      margin-block-end: 8px;
    }

    .client__sub-title {
      margin-block-end: 41px;
    }

    .client__logos {
      display: flex;
      gap: 136px;
      justify-content: center;
      margin-block: 25px;
    }

    .client__logo {
    }
  }

  .offers {
    text-align: center;

    .offers__wrapper {
      display: grid;
      justify-items: center;
      margin-block-end: 42px;
    }

    .offers__title {
      max-width: 60ch;
      margin-block-end: 8px;
    }

    .offers__description {
      margin-block-end: 16px;
    }

    .offers__items {
      display: flex;
      gap: calc(127.5 / 16 * 1rem);
    }

    .offers__item {
      display: grid;
      justify-items: center;
      width: calc(308 / 16 * 1rem);
      height: calc(260 / 16 * 1rem);
      padding: 24px 32px;
      border-radius: 8px;
      box-shadow: 0 2px 4px var(--color-item-shadow);
    }

    .offers__item-image {
      margin-block-end: 16px;
    }

    .offers__item-title {
      max-width: 10ch;
      margin-block-end: 8px;
    }

    .offers__item-content {
    }
  }

  .feature-1,
  .feature-3 {
    .feature-1__wrapper,
    .feature-3__wrapper {
      display: grid;
      grid-template-columns: 3fr 5fr;
      align-items: center;
      gap: 96px;
      padding-block: 52px;
    }

    .feature-1__image {
    }

    .feature-1__text {
    }

    .feature-1__title,
    .feature-3__title {
      margin-block-end: 16px;
      max-width: 25ch;
    }

    .feature-1__description,
    .feature-3__description {
      margin-block-end: 32px;
      max-width: 68ch;
    }
  }

  .feature-2 {
    background-color: var(--color-feature-2-bg);
    margin-block: 48px;

    .feature-2__wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-block: 64px;
      align-items: center;
      gap: 100px;
    }

    .feature-2__text-left {
    }

    .feature-2__text-left__title {
      font-weight: 600;
      max-width: 17ch;
    }

    .feature-2__text-left__description {
    }

    .feature-2__text-right {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 40px;
    }

    .feature-2__text-right__item {
      display: flex;
      gap: 16px;
    }

    .feature-2__text-right__icon {
    }

    .feature-2__text-right__amount {
    }

    .feature-2__text-right__description {
    }
  }

  .feature-3 {
    margin-block-end: 48px;
  }

  .testimonial {
    background-color: var(--color-testimonial-bg);

    .testimonial__wrapper {
      display: grid;
      grid-template-columns: 3fr 7fr;
      gap: 78px;
      padding-block: 32px;
      align-items: center;
      margin-block-end: 48px;
    }
    .testimonial__image {
      width: calc(326 / 16 * 1rem);
      height: calc(326 / 16 * 1rem);
      justify-self: center;
    }
    .testimonial__content {
    }
    .testimonial__quote {
      max-width: 74ch;
      margin-block-end: 16px;
    }

    .testimonial__author-wrapper {
    }

    .testimonial__author-name {
      font-weight: 600;
      margin-block-end: 8px;
    }

    .testimonial__author-position {
      margin-block-end: 32px;
    }

    .testimonial__logos {
      display: flex;
      gap: 41px;
      align-items: center;
    }

    .testimonial__logo-path {
      fill: var(--color-testimonial-logo);
    }

    .testimonial__logo {
      width: calc(48 / 16 * 1rem);
      height: calc(48 / 16 * 1rem);
    }

    .testimonial__link {
      font-size: var(--fs-20);
      font-weight: 600;
    }
  }

  .blog {
    text-align: center;
    margin-block-end: 174px;

    .blog__wrapper {
      display: grid;
      justify-items: center;
    }
    .blog__title {
      margin-block-end: 8px;
    }
    .blog__description {
      max-width: 63ch;
      margin-block-end: 16px;
    }
    .blog__grid {
      display: flex;
      gap: 24px;
    }
    .blog__item {
      position: relative;
    }
    .blog__item-image {
      z-index: -1;
      width: calc(368 / 16 * 1rem);
      height: calc(286 / 16 * 1rem);
    }
    .blog__text {
      position: absolute;
      inset-block-start: 190px;
      inset-inline-start: 25.5px;
      background-color: var(--c-neutral-silver);
      width: calc(317 / 16 * 1rem);
      height: calc(176 / 16 * 1rem);
      padding: 16px;
      border-radius: 8px;
      box-shadow: 0 8px 16px var(--color-blog-item-shadow);
    }

    .blog__post-title {
      margin-block-end: 16px;
      font-size: 20;
    }

    .blog__post-link {
      font-size: var(--fs-20);
      font-weight: 600;
      padding-block: 8px;
    }
  }

  .cta {
    background-color: var(--c-neutral-silver);
    text-align: center;

    .cta__wrapper {
      display: grid;
      justify-items: center;
      padding-block: 32px;
    }

    .cta__title {
      font-size: var(--fs-64);
      font-weight: 600;
      color: var(--color-cta-text);
      max-width: 20ch;
      margin-block-end: 32px;
    }
  }

  .footer {
    background-color: var(--color-footer-bg);

    .footer__logo,
    .footer__text {
      margin-block-end: 40px;
    }

    .footer__copyright,
    .footer__text,
    .footer__title,
    .footer__link {
      color: var(--color-footer-text);
    }

    .footer__copyright,
    .footer__text,
    .footer__link {
      font-weight: 200;
    }

    .form__email,
    .form__button {
      padding: 11px;
      border: none;
      background-color: var(--color-input-bg);
    }

    .footer__wrapper {
      display: grid;
      grid-template-columns: 5.5fr 2fr 2fr 3.5fr;
      column-gap: 30px;
      padding: 64px 21px;
    }

    .footer__column {
    }

    .footer__logo-path {
      fill: var(--c-white);
    }

    .footer__copyright {
      margin-block-end: 8px;
    }

    .footer__text {
    }
    .footer__social {
      display: flex;
      gap: 16px;
    }

    .footer__title {
      margin-block-end: 24px;
    }

    .footer__links {
      display: grid;
      gap: 12px;
    }

    .footer__link {
    }

    .form {
      display: flex;
    }

    .form__email {
      width: calc(205 / 16 * 1rem);
      padding-inline-start: 12px;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }

    .form__button {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }
}

@layer utilities {
}
